/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #CDC673;//change #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #DEB887;//#333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #B9D3EE;//change #008080;
}

.hljs-string,
.hljs-doctag {
  color: #C0FF3E;//change #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #EEEEEE;//change #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #EEEEEE;//change #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #99CCFF;//change #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #70DB93;//change #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #BBFFFF;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #BBFFFF;//change #0086b3;
}

.hljs-meta {
  color: #FFD700;//#999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
